body{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
img{max-width: 100%;}
header{
	margin-top: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
	width: 50%;
}
.search{
	width: 50%;
}
.search input{
	width: 98%;
	height: 30px;
	text-align: center;
	border: 1px solid gainsboro;
	border-radius: 25px;
}
footer ul{
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-family: "myFont";
	font-size: 1.125rem;
}
footer li{
	width: 25%;
	float: left;
	text-align: center;
}
footer li a{
	display: block;
	padding: 12px 5px;
	color: white;
}
footer li a.active{
	background-color: rgb(196, 0, 0);
}
footer li a:active,
footer li a:link,
footer li a:visited{
	color: white;
}