article{
	margin: 20px 0 10px 0;
}
figure{
	margin: 0 10px;
}
.list_group{
	display: flex;
	flex-wrap: wrap;
}
.list_group li{
	box-sizing: border-box;
	width: 47%;
	margin: 2% 2% 0 2%;
	text-align: center;
	border: 1px solid gainsboro;
}
ul li:nth-child(even){
	margin-left: 0%;
}
.list_group p{
	text-shadow: 0px 0px 1px #c40000;
}